.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px

}

footer{
	padding: 10 px 10 px 0px 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px; 
	justify-content: space-between;
}

.btn-reserva {
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
}

.form-group {
	padding-right: 20px; 
}